body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: black;
  
}
.movie-card:hover .card-title{
  color: gray;
  transition: color 0.3s;
}
.movie-card {
  height: 500px;
  border: none;
}

.card-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.bi-heart-fill,
.bi-trash-fill {
  cursor: pointer;
}

.bi-heart-fill,
.bi-trash-fill:hover {
  color: red;
}

.slider{
  height: 350px;
  object-fit: cover;
}

.link-favoritos:hover{
  color:rgb(82, 120, 192) !important;

}