body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.movie-card {
  height: 500px;
  border: none;
}

.card-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.bi-heart-fill,
.bi-trash-fill {
  cursor: pointer;
}

.bi-heart-fill,
.bi-trash-fill:hover {
  color: red;
}
